body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 580px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #f3f3f3; } }

table.body {
  background: #f3f3f3;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 48px;
  padding-bottom: 16px; }

th.columns.last {
  padding-right: 48px; }

th.columns table {
  width: 100%; }

th.large-1 {
  width: 0.33333px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-1.first {
  padding-left: 48px; }

th.large-1.last {
  padding-right: 48px; }

th.large-2 {
  width: 48.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-2.first {
  padding-left: 48px; }

th.large-2.last {
  padding-right: 48px; }

th.large-3 {
  width: 97px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-3.first {
  padding-left: 48px; }

th.large-3.last {
  padding-right: 48px; }

th.large-5 {
  width: 193.66667px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-6 {
  width: 242px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-6.first {
  padding-left: 48px; }

th.large-6.last {
  padding-right: 48px; }

th.large-12 {
  width: 532px;
  padding-left: 24px;
  padding-right: 24px; }

th.large-12.first {
  padding-left: 48px; }

th.large-12.last {
  padding-right: 48px; }

th.large-12 center {
  min-width: 436px; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

h4.text-center,
p.text-center {
  text-align: center; }

p.text-right {
  text-align: right; }

img.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 628px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

@media only screen and (max-width: 628px) {
  table.body table.container .hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 628px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h4,
p,
td,
th {
  color: #0a0a0a;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h4 {
  color: inherit;
  word-wrap: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h4 {
  font-size: 24px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #3BC1CD;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #2b9faa; }
  a:active {
    color: #2b9faa; }
  a:visited {
    color: #3BC1CD; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #f3f3f3;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 628px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 48px !important;
    padding-right: 48px !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; } }

h1 {
  color: #0081A4;
  font-size: 18px; }
  h1 strong {
    color: #FFAF36;
    font-weight: 500; }

.container {
  border: 1px solid #DDD; }

.firma {
  color: #0081A4;
  margin-bottom: 0;
  font-size: 14px; }

.detalle-atencion {
  padding: 16px;
  background-color: #f7f7f7;
  border-left: 3px solid #3BC1CD; }
  .detalle-atencion ul {
    color: #666;
    list-style-type: none;
    padding-left: 0; }
    .detalle-atencion ul span {
      width: 200px;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase; }
    .detalle-atencion ul strong {
      color: #FFAF36; }

.pie-correo {
  font-size: 12px; }

hr {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid transparent; }

.btn-calendar {
  display: inline-block;
  margin-left: 10px;
  padding-top: 5px;
  margin-top: 10px; }
  .btn-calendar img {
    width: 20px; }

.btn-box {
  background-color: #3bc1cd;
  color: #FFF;
  padding: .5rem 1rem;
  border-radius: .2rem;
  display: inline-block;
  margin-left: 1rem; }
  .btn-box:hover {
    background-color: #0081A4;
    color: #FFF; }

h1 {
  font-size: 18px;
  hyphens: none;
  color: #3BC1CD; }
  h1 strong {
    font-weight: 700; }

p {
  hyphens: none; }

.small-text {
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 452px; }

.small-text {
  font-size: 12px;
  margin: 0 auto; }
  .small-text a {
    color: #FFAF36; }

.firma {
  color: #0586aa; }

.caja-iconos {
  width: 522px !important;
  margin: 0 auto; }
  .caja-iconos p {
    color: #666;
    font-size: 10px; }
  .caja-iconos th.large-2 {
    padding-left: 4px;
    padding-right: 4px; }
  .caja-iconos img {
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem; }

.subtitulo {
  font-size: 14px;
  font-weight: 900;
  color: #0586aa; }

.header th.large-6.first {
  padding-right: .5rem; }

.header th.large-6.last {
  padding-left: .5rem; }

@media only screen and (max-width: 644px) {
  h1 {
    font-size: 16px; }
  table.body img {
    width: auto;
    height: auto;
    max-width: 270px; }
  .small-text {
    width: 270px; }
  .text-center img {
    display: inline-block; } }

/* Consalud Styles*/
.email-consalud h1 {
  color: #00a19b;
  font-weight: 700;
  font-size: 19px;
  text-align: center; }
  .email-consalud h1 strong {
    color: #FFCE00; }

.email-consalud .detalle-atencion {
  border: 1px solid #FFCE00;
  border-left: 1px solid #FFCE00;
  background-color: #fff;
  font-size: 16px; }
  .email-consalud .detalle-atencion ul strong {
    color: #00a19b;
    font-weight: 500; }
  .email-consalud .detalle-atencion ul span {
    text-transform: none;
    letter-spacing: .5px;
    line-height: 2;
    font-weight: 500;
    font-size: 16px; }

.email-consalud .borde-consalud {
  width: 120px;
  height: 4px;
  display: inline-block;
  background-color: #FFCE00;
  border: none;
  margin-bottom: 4px;
  border-top: none; }
  .email-consalud .borde-consalud:last-child {
    float: right;
    margin-top: 4px; }

.email-consalud .subtitulo {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: #00a19b; }
  .email-consalud .subtitulo strong {
    color: #FFCE00; }

.email-consalud .caja-iconos th.large-3 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.email-consalud .caja-iconos th.large-5 {
  padding-left: 0;
  padding-right: 0; }

.email-consalud .caja-iconos th.columns {
  padding-bottom: 0; }

.email-consalud .caja-iconos p {
  font-size: 14px;
  margin-bottom: 0; }
  .email-consalud .caja-iconos p b {
    color: #00a19b !important; }

.email-consalud .btn-atencion {
  display: inline-block;
  padding: .5rem 1.5rem;
  background-color: #00a19b;
  color: #FFF;
  text-decoration: none;
  margin: 1rem 0;
  border-radius: 32px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  border: 2px double #FFCE00;
  letter-spacing: 1px; }

.email-consalud .pie-correo {
  color: #00a19b;
  font-size: 14px;
  font-weight: 700; }
  .email-consalud .pie-correo a {
    color: #00a19b;
    font-weight: 700; }

.email-consalud .header th.large-5 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.email-consalud .header th.large-2 {
  padding-left: 0;
  padding-right: 0; }

.email-consalud .header th.large-1.first {
  padding-left: 16px; }

.email-consalud .header th.large-1.last {
  padding-left: 16px; }

.email-consalud .header img {
  margin: 0 auto; }

.header-consalud {
  background-color: #00a19b; }
  .header-consalud img {
    float: right;
    margin: 2rem 0; }
  .header-consalud th.columns {
    padding-bottom: 0; }

@media only screen and (max-width: 644px) {
  .email-consalud .caja-iconos p {
    font-size: 18px !important; } }
